<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yaochuru.mapper.YaochuruMapper">

    <resultMap type="Yaochuru" id="YaochuruResult">
        <result property="id"    column="id"    />
        <result property="date"    column="date"    />
        <!--<result property="time"    column="time"    />-->
        <result property="yname"    column="yname"    />
        <result property="company"    column="company"    />
        <result property="numbers"    column="numbers"    />
        <result property="price"    column="price"    />
        <result property="total"    column="total"    />
        <result property="remakes"    column="remakes"    />
        <result property="allTotal"    column="all_total"    />
        <result property="agent"    column="agent"    />
        <result property="reviewer"    column="reviewer"    />
    </resultMap>

    <sql id="selectYaochuruVo">
        select id, date , yname, company, numbers, price, total, remakes, all_total, agent, reviewer from yaochuru
    </sql>

    <select id="selectYaochuruList" parameterType="Yaochuru" resultMap="YaochuruResult">
        <include refid="selectYaochuruVo"/>
        <where>
            <if test="date != null  and date != ''"> and date = #{date}</if>
             <!--<if test="time != null "> and time = #{time}</if>-->
            <if test="yname != null  and yname != ''"> and yname like concat('%', #{yname}, '%')</if>
            <if test="company != null  and company != ''"> and company = #{company}</if>
            <if test="numbers != null "> and numbers = #{numbers}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="total != null "> and total = #{total}</if>
            <if test="remakes != null  and remakes != ''"> and remakes = #{remakes}</if>
            <if test="allTotal != null "> and all_total = #{allTotal}</if>
            <if test="agent != null  and agent != ''"> and agent = #{agent}</if>
            <if test="reviewer != null  and reviewer != ''"> and reviewer = #{reviewer}</if>
        </where>
    </select>

    <select id="selectYaochuruById" parameterType="Long" resultMap="YaochuruResult">
        <include refid="selectYaochuruVo"/>
        where id = #{id}
    </select>

    <insert id="insertYaochuru" parameterType="Yaochuru" useGeneratedKeys="true" keyProperty="id">
        insert into yaochuru
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="date != null">date,</if>
            <!--<if test="time != null">time,</if>-->
            <if test="yname != null">yname,</if>
            <if test="company != null">company,</if>
            <if test="numbers != null">numbers,</if>
            <if test="price != null">price,</if>
            <if test="total != null">total,</if>
            <if test="remakes != null">remakes,</if>
            <if test="allTotal != null">all_total,</if>
            <if test="agent != null">agent,</if>
            <if test="reviewer != null">reviewer,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="date != null">#{date},</if>
            <!--<if test="time != null">#{time},</if>-->
            <if test="yname != null">#{yname},</if>
            <if test="company != null">#{company},</if>
            <if test="numbers != null">#{numbers},</if>
            <if test="price != null">#{price},</if>
            <if test="total != null">#{total},</if>
            <if test="remakes != null">#{remakes},</if>
            <if test="allTotal != null">#{allTotal},</if>
            <if test="agent != null">#{agent},</if>
            <if test="reviewer != null">#{reviewer},</if>
         </trim>
    </insert>

    <update id="updateYaochuru" parameterType="Yaochuru">
        update yaochuru
        <trim prefix="SET" suffixOverrides=",">
            <if test="date != null">date = #{date},</if>
            <!--<if test="time != null">time = #{time},</if>-->
            <if test="yname != null">yname = #{yname},</if>
            <if test="company != null">company = #{company},</if>
            <if test="numbers != null">numbers = #{numbers},</if>
            <if test="price != null">price = #{price},</if>
            <if test="total != null">total = #{total},</if>
            <if test="remakes != null">remakes = #{remakes},</if>
            <if test="allTotal != null">all_total = #{allTotal},</if>
            <if test="agent != null">agent = #{agent},</if>
            <if test="reviewer != null">reviewer = #{reviewer},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYaochuruById" parameterType="Long">
        delete from yaochuru where id = #{id}
    </delete>

    <delete id="deleteYaochuruByIds" parameterType="String">
        delete from yaochuru where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
