<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dujian.mapper.DujianMapper">

    <resultMap type="Dujian" id="DujianResult">
        <result property="id"    column="id"    />
        <result property="cname"    column="cname"    />
        <result property="date"    column="date"    />
        <result property="num"    column="num"    />
        <!--<result property="time"    column="time"    />-->
        <result property="duibie"    column="duibie"    />
        <result property="name"    column="name"    />
        <result property="results"    column="results"    />
        <result property="remakes"    column="remakes"    />
        <result property="yishi"    column="yishi"    />
        <result property="jingcha"    column="jingcha"    />
    </resultMap>

    <sql id="selectDujianVo">
        select id, cname, date, num , duibie, name, results, remakes, yishi, jingcha from dujian
    </sql>

    <select id="selectDujianList" parameterType="Dujian" resultMap="DujianResult">
        <include refid="selectDujianVo"/>
        <where>
            <if test="cname != null  and cname != ''"> and cname like concat('%', #{cname}, '%')</if>
            <if test="date != null "> and date = #{date}</if>
            <if test="num != null "> and num = #{num}</if>
             <!--<if test="time != null "> and time = #{time}</if>-->
            <if test="duibie != null  and duibie != ''"> and duibie = #{duibie}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="results != null  and results != ''"> and results = #{results}</if>
            <if test="remakes != null  and remakes != ''"> and remakes = #{remakes}</if>
            <if test="yishi != null  and yishi != ''"> and yishi = #{yishi}</if>
            <if test="jingcha != null  and jingcha != ''"> and jingcha = #{jingcha}</if>
        </where>
    </select>

    <select id="selectDujianById" parameterType="Long" resultMap="DujianResult">
        <include refid="selectDujianVo"/>
        where id = #{id}
    </select>

    <insert id="insertDujian" parameterType="Dujian" useGeneratedKeys="true" keyProperty="id">
        insert into dujian
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cname != null">cname,</if>
            <if test="date != null">date,</if>
            <if test="num != null">num,</if>
            <!--<if test="time != null">time,</if>-->
            <if test="duibie != null">duibie,</if>
            <if test="name != null">name,</if>
            <if test="results != null">results,</if>
            <if test="remakes != null">remakes,</if>
            <if test="yishi != null">yishi,</if>
            <if test="jingcha != null">jingcha,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cname != null">#{cname},</if>
            <if test="date != null">#{date},</if>
            <if test="num != null">#{num},</if>
            <!--<if test="time != null">#{time},</if>-->
            <if test="duibie != null">#{duibie},</if>
            <if test="name != null">#{name},</if>
            <if test="results != null">#{results},</if>
            <if test="remakes != null">#{remakes},</if>
            <if test="yishi != null">#{yishi},</if>
            <if test="jingcha != null">#{jingcha},</if>
         </trim>
    </insert>

    <update id="updateDujian" parameterType="Dujian">
        update dujian
        <trim prefix="SET" suffixOverrides=",">
            <if test="cname != null">cname = #{cname},</if>
            <if test="date != null">date = #{date},</if>
            <if test="num != null">num = #{num},</if>
            <!--<if test="time != null">time = #{time},</if>-->
            <if test="duibie != null">duibie = #{duibie},</if>
            <if test="name != null">name = #{name},</if>
            <if test="results != null">results = #{results},</if>
            <if test="remakes != null">remakes = #{remakes},</if>
            <if test="yishi != null">yishi = #{yishi},</if>
            <if test="jingcha != null">jingcha = #{jingcha},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDujianById" parameterType="Long">
        delete from dujian where id = #{id}
    </delete>

    <delete id="deleteDujianByIds" parameterType="String">
        delete from dujian where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
