<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.healthrecords.mapper.ChuanshaiMapper">
    
    <resultMap type="Chuanshai" id="ChuanshaiResult">
        <result property="id"    column="id"    />
        <result property="fileNum"    column="file_num"    />
        <result property="name"    column="name"    />
        <result property="age"    column="age"    />
        <result property="marriage"    column="marriage"    />
        <result property="educa"    column="educa"    />
        <result property="startTime"    column="start_time"    />
        <result property="endingTime"    column="ending_time"    />
        <result property="enterTime"    column="enter_time"    />
        <result property="formerResidence"    column="former_residence"    />
        <result property="race"    column="race"    />
        <result property="firstReason"    column="first_reason"    />
        <result property="drugType"    column="drug_type"    />
        <result property="usageMethod"    column="usage_method"    />
        <result property="gyzhusheqi"    column="gyzhusheqi"    />
        <result property="bScreening"    column="b_screening"    />
        <result property="cScreening"    column="c_screening"    />
        <result property="stdScreening"    column="std_screening"    />
        <result property="aidsScreening"    column="aids_screening"    />
        <result property="remarks"    column="remarks"    />
    </resultMap>

    <sql id="selectChuanshaiVo">
        select id, file_num, name, age, marriage, educa, start_time, ending_time, enter_time, former_residence, race, first_reason, drug_type, usage_method, gyzhusheqi, b_screening, c_screening, std_screening, aids_screening, remarks from chuanshai
    </sql>

    <select id="selectChuanshaiList" parameterType="Chuanshai" resultMap="ChuanshaiResult">
        <include refid="selectChuanshaiVo"/>
        <where>  
            <if test="fileNum != null "> and file_num = #{fileNum}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="age != null "> and age = #{age}</if>
            <if test="marriage != null  and marriage != ''"> and marriage = #{marriage}</if>
            <if test="educa != null  and educa != ''"> and educa = #{educa}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endingTime != null "> and ending_time = #{endingTime}</if>
            <if test="enterTime != null "> and enter_time = #{enterTime}</if>
            <if test="formerResidence != null  and formerResidence != ''"> and former_residence = #{formerResidence}</if>
            <if test="race != null  and race != ''"> and race = #{race}</if>
            <if test="firstReason != null  and firstReason != ''"> and first_reason = #{firstReason}</if>
            <if test="drugType != null  and drugType != ''"> and drug_type = #{drugType}</if>
            <if test="usageMethod != null  and usageMethod != ''"> and usage_method = #{usageMethod}</if>
            <if test="gyzhusheqi != null  and gyzhusheqi != ''"> and gyzhusheqi = #{gyzhusheqi}</if>
            <if test="bScreening != null  and bScreening != ''"> and b_screening = #{bScreening}</if>
            <if test="cScreening != null  and cScreening != ''"> and c_screening = #{cScreening}</if>
            <if test="stdScreening != null  and stdScreening != ''"> and std_screening = #{stdScreening}</if>
            <if test="aidsScreening != null  and aidsScreening != ''"> and aids_screening = #{aidsScreening}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
        </where>
    </select>
    
    <select id="selectChuanshaiById" parameterType="Long" resultMap="ChuanshaiResult">
        <include refid="selectChuanshaiVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertChuanshai" parameterType="Chuanshai" useGeneratedKeys="true" keyProperty="id">
        insert into chuanshai
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileNum != null">file_num,</if>
            <if test="name != null">name,</if>
            <if test="age != null">age,</if>
            <if test="marriage != null">marriage,</if>
            <if test="educa != null">educa,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endingTime != null">ending_time,</if>
            <if test="enterTime != null">enter_time,</if>
            <if test="formerResidence != null">former_residence,</if>
            <if test="race != null">race,</if>
            <if test="firstReason != null">first_reason,</if>
            <if test="drugType != null">drug_type,</if>
            <if test="usageMethod != null">usage_method,</if>
            <if test="gyzhusheqi != null">gyzhusheqi,</if>
            <if test="bScreening != null">b_screening,</if>
            <if test="cScreening != null">c_screening,</if>
            <if test="stdScreening != null">std_screening,</if>
            <if test="aidsScreening != null">aids_screening,</if>
            <if test="remarks != null">remarks,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileNum != null">#{fileNum},</if>
            <if test="name != null">#{name},</if>
            <if test="age != null">#{age},</if>
            <if test="marriage != null">#{marriage},</if>
            <if test="educa != null">#{educa},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endingTime != null">#{endingTime},</if>
            <if test="enterTime != null">#{enterTime},</if>
            <if test="formerResidence != null">#{formerResidence},</if>
            <if test="race != null">#{race},</if>
            <if test="firstReason != null">#{firstReason},</if>
            <if test="drugType != null">#{drugType},</if>
            <if test="usageMethod != null">#{usageMethod},</if>
            <if test="gyzhusheqi != null">#{gyzhusheqi},</if>
            <if test="bScreening != null">#{bScreening},</if>
            <if test="cScreening != null">#{cScreening},</if>
            <if test="stdScreening != null">#{stdScreening},</if>
            <if test="aidsScreening != null">#{aidsScreening},</if>
            <if test="remarks != null">#{remarks},</if>
         </trim>
    </insert>

    <update id="updateChuanshai" parameterType="Chuanshai">
        update chuanshai
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileNum != null">file_num = #{fileNum},</if>
            <if test="name != null">name = #{name},</if>
            <if test="age != null">age = #{age},</if>
            <if test="marriage != null">marriage = #{marriage},</if>
            <if test="educa != null">educa = #{educa},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endingTime != null">ending_time = #{endingTime},</if>
            <if test="enterTime != null">enter_time = #{enterTime},</if>
            <if test="formerResidence != null">former_residence = #{formerResidence},</if>
            <if test="race != null">race = #{race},</if>
            <if test="firstReason != null">first_reason = #{firstReason},</if>
            <if test="drugType != null">drug_type = #{drugType},</if>
            <if test="usageMethod != null">usage_method = #{usageMethod},</if>
            <if test="gyzhusheqi != null">gyzhusheqi = #{gyzhusheqi},</if>
            <if test="bScreening != null">b_screening = #{bScreening},</if>
            <if test="cScreening != null">c_screening = #{cScreening},</if>
            <if test="stdScreening != null">std_screening = #{stdScreening},</if>
            <if test="aidsScreening != null">aids_screening = #{aidsScreening},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChuanshaiById" parameterType="Long">
        delete from chuanshai where id = #{id}
    </delete>

    <delete id="deleteChuanshaiByIds" parameterType="String">
        delete from chuanshai where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>